h1 {
    font-size: 2rem;
    text-align: center;
}

main {
    display: flex;
    flex-wrap: wrap;
}

.container1 {
    display: flex;
    margin-top: 5vh;
    justify-content: space-around;

}

.box1 {
    width: 30vw;
    margin-left: 10vw;
    margin-bottom: 10vh;
}

.box2 {
    width: 30vw;
    justify-self: flex-end;
    margin-left: 18.5vw;
}

span.box3 {
    margin-top: 5vh;
    margin-left: 10vw;
    width: 500px;
    height: 200px;
}

.container2 {
    display: flex;
    justify-content: space-around;
}

.container3 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    margin-left: -6vw;
}

.box4 {
    width: 30vw;
}

.box5 {
    width: 30vw;
    height: 35vh;
}

.Details {
    margin-left: 9vw;
}